body {
    background: repeating-linear-gradient(
            45deg,
            #e2e2e2,
            #f3f3f3 5px,
            #cecece 3px
    );
}

ul {
    padding-left: 0px;
 }

li {
    list-style-type: none;
}

.help-info {
    font-size: 16px;
    font-weight: 700;
    color: #003850;
}
.textarea-announce{
    max-height: 200px;
    width: 100%;
    max-width: 100%;
    min-height:100px;

}
.help-menu-li {
    color:white;
    background-color:#00796b;
    padding:10px;
    border:2px solid black;
    border-radius: 2px;
    margin:5px 0 5px 0;
}
.display-help {
    opacity:0.6;
}
.help-menu-li:hover{
    opacity:0.6;
}

ul {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.color-header {
    background-color: #00796b;
}

.logo-header {
    height: 100%;
    width: 100%;

}

.logo-header-mobile {
    margin-left: 40px;
    border-bottom: 30px;
    height: 50px;
    width: 170px;
}

.position-fixed {
    position: fixed;
    transition: width 2s;
    z-index:2000;
}

.header-desktop-normal {
    width: 100%;
    z-index: 10;

}

.menu-desktop {
    float: right;
}
h3.text_login {
    text-align: center;
}
.line-height-header {
    line-height: 46px;
}
.menu-normal-information li{
    display: inline-block;
}
.menu-normal-information  li > a {
    padding: 0 15px 0 15px;
    color: #dae8e7;
    text-decoration: none;
}

.menu-normal-information  li > a:visited {
    display: none;
}

.menu-normal-information  li > a:hover {
    color: white;
    text-decoration: none;
}

.header-information {
    float: left;
    margin: 0 auto;
}

.header-info-mobile {
    width: 100%;
    background: #01695d;
    box-shadow: inset 0 0 11px -3px black;
    margin-top: 10px;

}

.img-logo-header {
    height: 47px;
    width: 175px;
    float: left;
}

.container-header {
    padding: 10px 0 10px 0;
}

.display-inline {
    display: inline-block;
}

.add_announce {
    font-size: 15px;
    float: right;
    color: #dbe6e5;
    background-color: #ff9800;
    margin-left: 15px;
    border-radius: 5px;
    font-weight: 700;
    text-shadow: 1px 1px black;
    transition: 0.3s;
}

.add_announce:hover {
    background-color: #ffab0c;
    box-shadow: 1px 1px 2px 1px #00544b;
}

.add_announce_padding {
    padding: 0 10px 0 10px;
}

.search_background {
    background-color: #009688;
    height: 400px;
    width: 100%;
}

.search {
    background-image: url("../images/City.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 100%;
    font-size: 20px;
}

.search-botoom {
    height: 34px;
    width: 40px;
}

.search-three-bar {
    padding-top: 100px;
}

.box {
    padding: 15px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
}

.box2 {
    padding: 15px;
    height: 170px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0, 0, 0, 0.65);
}
.box2 h2 {
    color: white;
    font-size: 21px;
    font-weight: bolder;
    font-family: 'Verdana', serif;
    position: relative;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 30px;
}
.box2 p {
    color: white;
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Verdana', serif;
}

.height-70px {
    height: 70px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.width-70px {
    width: 70px;
}

.font-size-20px {
    font-size: 20px;
}

.search-bottom {
    background-color: #80cbc4;
    color: #166c62;
    border: 0px;

}

.border-radius-10 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.test {
    height: 1000px;
    width: 100%;
}

.no-on-mobile {
    display: block;
}

.no-on-desktop {
    display: none;
}

.display-search {
    display:none;
}
.buttom_money {
    padding:8px;
    color:white;
    background-color: #0d3625;
    border:1px solid red;
}
.text-white {
    color:white;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}
.menu-bottom {
    background-color: #80cbc4;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    width: 70px;
    height: 55px;
    text-align: center;
    float: right;
    top: 0;
    margin-right: 20px;

}

.header-mobile {
    min-height: 90px;
}

.margin-top-20 {
    margin-top: 20px;
}

.informationMenuText {
    display: block;
    font-size: 35px;
    color: white;
    font-weight: 900;
    padding: 10px 0 10px 10px;
}

.informationMenuText:hover {
    color: #c5a7a7;
}

.display-mobile {
    display: none;
}

.display {
    display: block;
}
.forgotPassInfo {
    margin: 0 25px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Verdana', serif;
    font-size: 16px;
    font-weight: 400;
    color: #343434;
}
.legend {
    height:20px;
    width: 20px;
    opacity:0.8;
}
#location , #location2{
    width:10px;
    height:10px;
}

#location img  , #location2 img {
    wdith: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
}
footer
{
    margin-top: 100px;
    padding: 5px 0 15px 0;
    height: 120px;
    text-align:center;
    color:white;
}

footer h4 {
    font-family: 'BioRhyme', serif;
}

footer span {
    opacity: 0.75;
    color: #ffffff;
    font-size: 15px;
}
footer img {
    width:40px; height:40px;
    opacity:0.6;
    transition-duration: 1s;
    perspective: 800px;
    perspective-origin: 50% 100px;
    transition-property: all;
}
footer img:hover {
    opacity:1;
    width:40px; height:40px;
    transform:rotateY(180deg);
}

.announcement {
    position: relative;
    background: white;
    width: auto;
    max-height: 375px;
    box-shadow: 0 2px 15px 0px #3a3737;
    margin: 35px 0px 45px 0px;
    text-decoration: none;
    clear: both;
    overflow:hidden;
    height:1%;
}
.announcement img {
    background: grey;
    position: relative;
    margin: 5px;
    width: 97%;
    height: 250px;
    object-fit: contain;
}
.announcement div {
    text-align: center;
    position: relative;
    padding: 3px;
    width: auto;
    height: 30px;
    background:#009688;
    color: white;
    font-size:18px;
}
.announcement div span {
    font-size: 0.7em;
    color: #d3d3d3;
}
.announcement p#title {
    padding: 0px 5px 0px 5px;
    color: #343434;
    font-size: 18px;
    display: block;
    text-align: center;
    font-family: 'Impact', serif;
}

.announcement p#uploadedBy {
    padding: 0px 5px 0px 5px;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    display: inline;
    text-align: center;
    font-family: 'Verdana', serif;
    float: left;
    margin: 0 0 5px 10px;
}

.announcement p#timeAdded {
    padding: 0px 5px 0px 5px;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    display: inline;
    text-align: center;
    font-family: 'Verdana', serif;
    float: right;
    margin: 0 10px 5px 0;
}

.contentAnunt {
    margin-top: 15px;
    background: white;
    box-shadow: 0 0 10px 0 #afa6a6;
    float: left;
    display: inline-block;
}
.contentAnunt h1 {
    color: #3d3d3d;
}
.contentAnunt h1 img {
    width: 35px;
    height: auto;
    margin-bottom: 5px;
}
textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
}
h1.pretAnunt {
    text-align: right;
    font-family: 'Verdana', serif;
    font-weight: 300;
    color: #009688;
}
.bg-style{
    background: #eaeaea;
}
.bg-green-color {
    color: #ffffff;
    border-color: #008276;
    background: #009688;
}
.bg-green-color:hover,
.bg-green-color:active,
.bg-green-color:focus
{
    color: #ffffff;
    border-color: #009f90;
    background: #00776c;
}
h1.pretAnunt span {
    font-size: 18px;
}
.description h3 img {
    width: 25px;
    height: auto;
    margin-bottom: 5px;
}
.legendTitle {
    margin-bottom: 25px;
}
.legendTitle h3 img {
    width: 25px;
    height: auto;
    margin-bottom: 5px;
}
.timeAdded img {
    width: 12px;
    height: auto;
    margin-bottom: 2px;
    margin-right: 5px;
}
.timeAdded {
    font-family: 'Verdana', serif;
    font-size: 12px;
    font-weight: 300;
    color: #6f6f6f;
    padding-bottom: 20px;
}
.timeAdded span {
    float: right;
}
.description p {
    padding: 5px;
    font-size: 14px;
    font-family: 'Verdana', serif;
    color: #282828;
    font-weight: 400;
    text-align: justify;
}
.contactForm {
    position: fixed;
    top: 100px;
    float: right;
    background: white;
    box-shadow: 0 0 10px 0 #afa6a6;
    width: 250px;
    height: 320px;
    display: inline-block;
    margin-left: 25px;
}

.contactForm .title {
    font-family: 'Verdana', serif;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 4px;
    height: 30px;
    background:#009688;}

.title_add_announce {
    border-bottom: 2px solid white;
    color: white;
}

.box_add_announce {
    height:100%;

}

.background-black {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 3px;
}

.add_photo_announce {
    border: 2px solid #00796b;
    min-height: 100px;
    border-radius: 3px;

}

.margin-top-bottom-15px {
    margin: 15px 0 15px 0;
}

.background-grey {
    background-color: white;
}
.width-100{
    width:100%;
}
.width-50{
    width:50%;
}
.text-25px {
    font-size: 25px;

}
.max-height-40px {
    max-height: 40px;
}
.text-center{
    text-align: center;
}
.details_announce {
    color: #635d5d;
    border-radius: 5px;
    padding-left:16px;
    height:34px;
}
#add_announce_submit {

    text-align: center;

}
.bottom_announce {
    background-color: #00796b;
}

.bottom_announce_1{
    color:white;
    font-size: 20px;
    padding: 10px 75px;
    background-color: #00796b;
    border: 2px solid #2d796e;
    border-radius: 5px;

}
.margin-bottom-30px{
    margin-bottom:30px;
}
.bottom_announce_1:hover {
    color: #b1ffe5;
    box-shadow:inset 0 0 11px -3px black ;
}
.background-image-announce {

    border:3px solid #bdbdbd;
    border-radius: 3px;
    font-size:35px;
    color:#bdbdbd;
    padding:10px;

}
.background-image-announce-first {
    border:3px dashed #bdbdbd;
}
.padding-10 {
    padding:10px;
}
.center {
    margin:0 auto;
}
.border-radius-5{
    border-radius: 5px;

}

.contactForm img {
    width: 100px;
    height: 100px;
    margin: 10px 0 5px 55px;
    background: #e6e6e6;
}

.contactForm .sellerName {
    margin-top: 10px;
    font-family: 'Verdana', serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #787878;
}

.contactForm p {
    font-family: 'Verdana', serif;
    font-weight: 400;
    font-size: 11px;
    color: #bcbcbc;
    text-align:center;
}

.contactBtn {
    width: 220px;
    margin: 10px 0 0 0;
    height: 40px;
    font-size: 18px;
}

.contactBtn img {
    position: relative;
    background: transparent;
    width: 22px;
    height: auto;
    display: inline;
    margin: 0;
    margin-bottom: 2px;
}
#imgGallery {
    padding: 15px;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
}
#imgGallery img {
    width: 180px;
    height: 180px;
    background: lightgrey;
    margin: 10px 14px;
    object-fit: contain;
}
.verticalLine {
     border-left: 1px solid rgba(193, 193, 193, 0.65);
 }

.detaliiAnunt h2{
    font-size: 14px;
    font-weight: 600;
    color: #5e5e5e;
}
.detaliiAnunt h2 span{
    float: right;
    color: black;
}



.map {
    height: 400px;
    width: auto;
    margin: 0 25px 25px 25px;
}
.map:-moz-full-screen {
    height: 100%;
    width: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
    width: 100%;
}
.map:-ms-fullscreen {
    height: 100%;
    width: 100%;
}
.map:fullscreen {
    height: 100%;
    width: 100%;
}

.modal-title {
    text-align: center;
}

.box_login, .box_register {
    background-color: rgba(0,0,0,0.65);
    border-radius: 10px;
    padding-bottom: 30px;
    margin-left: 25%;
    margin-top: 40px;
    width: 50%;
}

.box_register {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
}

.box_login .authTitle, .box_register .authTitle {
    text-align: center;
    line-height: 300%;
    background-color: #00796b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #dae8e7;
}

.box_login .socialButtons, .box_register .socialButtons {
    margin: auto;
    margin-top: 25px;
    width: 100%;
}
    
.box_login .socialButtons a, .box_register .socialButtons a {
    font-weight: bold;
    color: white;
    opacity:0.9;
}
.box_login .socialButtons a:hover, .box_register .socialButtons a:hover {
    color: white;
    opacity:1;      
}
.box_login .socialButtons .btn-facebook, .box_register .socialButtons .btn-facebook {background: #3b5998;}
.box_login .socialButtons .btn-twitter, .box_register .socialButtons .btn-twitter {background: #00aced;}
.box_login .socialButtons .btn-google, .box_register .socialButtons .btn-google {background: #c32f10;}

.box_login .text_login, .box_register .text_login {
    color: #dae8e7;
}

.box_login .loginOr, .box_register .loginOr {
    position: relative;
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.box_login .loginOr .hrOr, .box_register .loginOr .hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.box_login .loginOr .spanOr, .box_register .loginOr .spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.box_login .form_align, .box_register .form_align {
    margin-left: 10px;
    margin-right: 10px;
}

.box_login .loginForm .input-group.i, .box_register .loginForm .input-group.i {
    width: 2em;
}

.box_login .btn_costum, .box_register .btn_costum {
    background-color: #00796b;
    font-weight: bold;
    border: none;
    outline: none;
}

.question_register, .question_register_align {
    background-color: rgba(0,0,0,0.65);
    border-radius: 10px;
    padding-bottom: 30px;
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
}

.question_register_align {
    width: 60%;
    margin-left: 20%;
}

.question_register .title, .question_register_align .title {
    text-align: center;
    line-height: 300%;
    color: #dae8e7;
}

.question_register .btn_costum, .question_register_align .btn_costum {
    background-color: #00796b;
    border: none;
    outline: none;
    font-weight: bold;
    width: 70%;
    margin: auto;
}
.hover_contul_meu {
    position:relative;
}
.contul_meu {
    padding-top:10px;
    display:none;
    background-color: #00796b;
    color:white;
    width:100%;
    font-size:12px;
}
.contul_meu>a>i {
    padding:0 5px 0 0;
}
.contul_meu>a {

    background-color: #00796b;
    color:white;
    padding:5px 15px;
    display:block;
    z-index: 4;
}
.contul_meu>a:hover {


    color:white;
    background-color:#438e87;
    transition:1s;
}

.hover_contul_meu:hover {
    background-color: #00796b;
}
 .hover_contul_meu:hover> .contul_meu {
    display:block;
     position:absolute;
     z-index:20;

}

.img-popup {
    width: 10px;
    height: 10px;
}

@media (min-width: 993px) {
    .box_login {
        margin-left: 30px;
    }

    .forgotPwd {
        text-align: right;
        margin-top:10px;
    }

    .box_login .form_align {
        margin-left: 80px;
    }

    .question_register {
        margin-left: 60%;
        margin-top: -400px;
        width: 40%;
    }

    .box_register {
        margin-left: 30px;
    }

    .box_register .form_align {
        margin-left: 10px;
    }

    .question_register_align {
        margin-left: 65%;
        margin-top: -460px;
        width: 35%;
    }          
}

@media screen and (max-width: 540px) {
    .no-on-mobile {
        display: none;
    }

    .no-on-desktop {
        display: block;

    }

    .box_login, .box_register {
        text-align: center;
        margin: 40px 0 0 20px ;
        width: 90%;
        font-size: 12px;
    }
    .question_register, .question_register_align {

        text-align: center;
        margin: 40px 0 0 20px ;
        width: 90%;
        font-size: 12px;
    }
    .box_login .authTitle, .box_register .authTitle {
        text-align: center;
        line-height: 150%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #dae8e7;
        font-weight: 300;
    }
    .question_register .title, .question_register_align .title {
        text-align: center;
        line-height: 150%;
        color: #dae8e7;
        font-weight: 300;
    }
}
@media screen and (max-width: 766px) {
    .box {
        height: 200px;
    }

    .box2 {
        height: 260px;}

    .padding-left-0 {
        padding-right:0;
    }
    .padding-right-0 {
        padding-left: 0;

    }
    .legendTitle span {
        font-size: 14px;
    }

    .legendTitle .legend {
        width: 12px;
        height: 12px;
    }
}



@media screen and (max-width: 1200px) {

    .contentAnunt {
        width:100%;
        float: none;
    }
    .contactForm {
        top: 15px;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .contactForm > img {
        left: 50%;
        position: relative;
        margin-left: -55px;
    }
    .contactForm .contactBtn {
        width: 100%;
    }
}